{{ define "main" }}
<div class = "main-section">
    <h1 class="title">404</h1>
      <h2> We don't have that piece...<strong>yet</strong>. Want to make it? Click submit below, or click the other buttons to learn about us or read something else.</h2>
      <div class="button-list">
          <button style="--background-color:blanchedalmond;" type="button" onclick="window.location.href='/posts/';">Read</button>
          <button style="--background-color:blanchedalmond;" type="button" onclick="window.location.href='/info/';">Learn</button>
          <button style="--background-color:blanchedalmond;" type="button" onclick="window.location.href='https://forms.gle/dogQVvEs1ZhkGWqH8';">Submit</button>
      </div>
  </div>
{{ end }}